<h2>Записаться</h2>
<p>на этой странице Вы сможете записаться на прием</p>

<script type="text/javascript">
   $(function(){
     $('#datetimepicker').datetimepicker({
        format:'d.m.Y H:i',
        step: 30,
        minTime: '10:00',
        maxTime: '20:30',
        dayOfWeekStart: 1
      });
     $.datetimepicker.setLocale('ru');
   });
</script>

<form action="/visit" method="POST" role="form">
  
  <div class="form-group">
    <label>Выберите барбера</label>
    <p><select name="barber" required class="form-control">
      <option disabled selected value=""></option>
      <% @barbers.each do |item| %>
        <option <%= @barber == item['name'] ? 'selected' : '' %>><%= item['name'] %></option>
      <% end %>
    </select></p>
  </div>

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя" value="<%= @username %>">
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="userphone" type="text" class="form-control" placeholder="Ваш телефон" value="<%= @userphone %>">
  </div>

  <div class="form-group">
    <label>Когда Вас ждать?</label>
    <input id="datetimepicker" autocomplete="off" name="datetime" type="text" class="form-control" placeholder="Введите дату и время" value="<%= @datetime %>">
  </div>

  <button type="submit" class="btn btn-primary">Записаться</button>
</form>